.w800 {width: 800px;}
.w70 {width: 70%;}
.w66 {width: 66.66%;}
.w60 {height: 60%;}
.w50 {width: 50%;}
.w33 {width: 33.33%;}
.w25 {width: 25%;}

.h1000 {height: 1000px;}
.h100 {height: 100%;}
.h85 {height: 85%;}
.h80 {height: 80%;}
.h70 {height: 70%;}
.h60 {height: 60%;}
.h50 {height: 50%;}
.h45 {height: 45%;}
.h35 {height: 35%;}
.h30 {height: 30%;}
.h25 {height: 25%;}
.h20 {height: 20%;}
.h15 {height: 15%;}
.h10 {height: 10%;}

.bgRed {background-color: red;}
.bgHotpink {background-color: hotpink;}
.bgWheat {background-color: wheat;}
.bgBlack {background-color: black;}
.bgGrey {background-color: grey;}
.bgOrange {background-color: orange;}
.bgCyan {background-color: cyan;}
.bgYellow {background-color: yellow;}
.bgGreen {background-color: green;}
.bgPink {background-color: pink;}
.bgBlue {background-color: blue;}

.float {float: left;}
.floatRight {float: right;}
.clear {clear: both;}

.padding {padding: 2px;}
.paddingBottom {padding-bottom: 2px;}
.marginAuto {margin: auto;}
.text {text-align: center;}
.textWhite {color: white;}